{#{% extends '::base.html.twig' %}#}

{#{% block body %}#}
    {#<section class="login">#}
       {#<article>#}
           {#<h1>Register</h1>#}

       {#</article>#}
    {#</section>#}

    {#<section class="main-block">#}
        {#<article>#}
            {#<section>#}
                {#<h1>Register</h1>#}
                {#<form action="{{ path('user_register') }}" method="POST">#}
                    {#{{ form_widget(form) }}#}

                    {#<input type="submit" class="btn btn-primary pull-right" value="Register!" />#}
                {#</form>#}
            {#</section>#}
        {#</article>#}
    {#</section>#}

{#{% endblock %}#}


<p>test</p>